extends ../../layout/layout-2
title=title
block contenido
  include ../../layout/perfil/padre
  .ed-container
    .ed-item.actipadre.web-20
      h3 Actividad del Estudiante
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          a(href="/perfil/actividad")
            img(src="/img/4.png", alt="")
        .ed-item.base-70.cross-center
          h4.base-100 Nombre
          p Alumno
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          a(href="/perfil/actividad")
            img(src="/img/4.png", alt="")
        .ed-item.base-70.cross-center
          h4.base-100 Nombre
          p Alumno
    .ed-item.escuela.web-20
      h3 Escuela
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          img(src="/img/avatar.png", alt="")
        .ed-item.base-70.cross-center
          p I.E
    .ed-item.profesores.web-20
      h3 Profesores
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
