extends ../../layout/layout
block titulo
  title ProSchool - Padre
block contenido
  .ed-container
    .ed-item.avatar.abcenter
      img.base-35(src="/img/avatar.png", alt="")
      h3 Hola, Sr Padre
      span Padre
    .ed-item.actipadre
      h3 Actividad del Estudiante
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          a(href="/perfil/actividad")
            img(src="/img/4.png", alt="")
        .ed-item.base-70.cross-center
          h4.base-100 Nombre
          p Alumno
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          a(href="/perfil/actividad")
            img(src="/img/4.png", alt="")
        .ed-item.base-70.cross-center
          h4.base-100 Nombre
          p Alumno
    .ed-item.escuela
      h3 Escuela
      .ed-container.animated.fadeIn
        .ed-item.base-30.avatar-1
          img(src="/img/avatar.png", alt="")
        .ed-item.base-70.cross-center
          p I.E
    .ed-item.profesores
      h3 Profesores
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
      a(href="/perfil/profesor")
        img.animated.fadeIn.base-20(src="/img/avatar.png", alt="")
