extends ../layout/layout
block titulo
  title Admin
block contenido
  .ed-container.abcenter
    .ed-item
      h1 Administrador
    .ed-item.web-25
      form(action="/admin" method="post")
        input.base-100.input.inpt_lg(type="text" name="usern" placeholder="Usuario Admin")
        input.base-100.input.inpt_lg(type="password" name="contra" placeholder="Contrseña Admin")
        input.base-100.button.btn_uno(type="submit" value="Entrar")
