extends ../layout
block titulo
  title Admin
block contenido
  .ed-container.abcenter
    .ed-item
      h1 Login Administrador
    .ed-item.web-20
      form(action="/admin" method="post")
        .ed-container.abcenter
          .ed-item
            //input.form-control(type="password" name="contra" placeholder="Usuario Admin")
            input.form-control(type="password" name="contra" placeholder="Contrseña Admin")
          .ed-item
            input.web-100.button.btn_uno(type="submit" value="Entrar")
