extends ../layout/layout
title= title
block contenido
  .ed-container
    .ed-item
      ul
        li: a(href="/") Inicio
        li: a(href="/admin") Admin
        li: a(href="/registro-estudiante") Registro de Estudiante
        li: a(href="/registro-padre") Registro de Padre
        li: a(href="/registro-profesor") Registro de Profesor
        li: a(href="/users") Usuario
