extends ./layout
block titulo
  title buscar
block contenido
  .ed-container
    .ed-item.sch_inpt.base-80.animated.fadeIn.web-25
      input.inpt_sch.base-100(type="text" placeholder='Buscar')
    .ed-item.sch_btn.base-20.animated.fadeIn.web-25
      button.base-100.button.btn_tres(type='submit').lnr.lnr-magnifier
