doctype html
html(lang="es" ng-app="MyFirstApp")
  head
    block titulo
      title
    meta(charset="utf-8")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico"  type='text/css')
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400"  type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet" href="/css/animate.css" type='text/css')
    link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  body(ng-controller="FirstController")
    header#header.animated.fadeIn
      .ed-container
        .ed-item.web-20.logo
          //img(src="/img/logo.png").logo
          a(href="/home") ProSchool
        .ed-item.web-60.buscar
          .ed-container
            .ed-item.web-90.sch_inpt.animated.fadeIn
              input.inpt_sch.base-100(type="text" placeholder='Buscar')
            .ed-item.web-10.sch_btn.animated.fadeIn
              button.base-100.button.btn_tres(type='submit').lnr.lnr-magnifier
        .ed-item.web-20.cross-center.main-center.menu
          ul.ed-menu.web-horizontal
            li: a(href="/perfil/") Perfil
            li: a(href="#") Notas
            li: a(href="#") Horario
    block contenido
    nav#homeft
      .ed-container.abcenter
        .ed-item.base-25.homeft
          a(href="/home").lnr.lnr-home
          p Inicio
        .ed-item.base-25.buscarft
          a(href="/buscar").lnr.lnr-magnifier
          p Buscar
        .ed-item.base-25.agregarft
          a(href="/agregar-actividad").lnr.lnr-upload
          p Agregar
        .ed-item.base-25.perfilft
          a(href="/perfil").lnr.lnr-user
          p Perfil
    footer.abcenter.animated.fadeInUp
      .ed-container
        .ed-item.creditos
          p #[a(href="/Perfil") ProSchool] &copy 2016 | Design by #[a(href="http://jairperez.net16.net") Jair Pérez]
          //a(href="readme.html") Readme
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/scripts.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
    script(src="/js/controller.js")

