h1 Brackets Extenxiones
li AngularJS Code Hints
li Autoprefixer
li Autosave Files on Window Blur
li Beautify
li Brackets Builder Extended
li Brackets Css Color Preview
li Brackets File Tabs
li Brackets Git
li Brackets Icons
li Brackets Snippets (by edc)
li Emmet
li Extract for Brackets (Preview)
li File Tree Exclude
li Indent Guides
li Interactive Linter
li Jade (Official Plugin)
li Jade Snippets
li JSCS for Brackets
li JSHint
li Monokai Dark Soda
li Paste and Indent
li Pestañas - Trabajando Comodamente
li Right click
