extends ./layout/layout-2
block contenido
 .ed-container
   .ed-item.no-padding.status.web-20
   .ed-item.no-padding.status.web-60
      include ./layout/home/pots/main
   .ed-item.no-padding.status.web-20

