.ed-container
  .ed-item.animated.fadeInUp.base-70.sch_inpt
    input.inpt_sch.base-100(type="text" placeholder="Agregar Actividad" ng-model="formData.homework")
  .ed-item.animated.fadeInUp.base-30.sch_btn
    button.button.btn_cuatro.base-100(ng-click="agregarActividad()") Agregar
