.ed-container.no-padding
  .ed-item.animated.fadeIn
    table()#horario-2.base-100.abcenter
      tr
        th.base-5.bn
        td.base-10.namber 1
        td.base-10.namber 2
        td.base-10.namber 3
        td.base-10.namber 4
        td.base-10.namber 5
        td.base-10.namber 6
        td.base-10.namber 7
        td.base-10.namber 8
      tr
      tr
        th Lu
        td MAT
        td MAT
        td FIL
        td FIL
        td HUM
        td HUM
        td REL
        td ART
      tr
      tr
        th Ma
        td QUI
        td MAT
        td MAT
        td FIS
        td ING-EYH
        td ING-EYH
        td ECON
        td ECON
      tr
      tr
        th Mi
        td ING-G
        td ING-G
        td HUM
        td C.SOC
        td C.SOC
        td FIS
        td MAT
        td E.FIS
      tr
      tr
        th Ju
        td ETIC
        td HUM
        td QUI
        td QUI
        td MAT
        td MAT
        td ING-CL
        td ING-CL
      tr
      tr
        th Vi
        td HUM
        td HUM
        td TEC
        td TEC
        td QUI
        td QUI
        td FIS
        td FIS
      tr
