doctype html
html(lang="es" ng-app="Proschool_v0.6")
  include head
  body(ng-controller="PSCtrl")
    include ./header/2
    block main-content
    //include navbar
    //include footer
    include scripts
