section#homeft
  .ed-container.abcenter
    .ed-item.base-25.homeft
      a(href="/home").ion-ios-home-outline
    .ed-item.base-25.buscarft
      a(href="/buscar").ion-ios-search
    .ed-item.base-25.mensajeft
      a(href="#").ion-ios-chatboxes-outline
    .ed-item.base-25.bellft
      a(href="#").ion-ios-bell-outline
    .ed-item.base-25.perfilft
      a(href="/users").display-2.ion-android-person
      a(href="/users").display: img.web-50(src="/images/user.png", alt="")
