.ed-container
  .ed-item.no-padding.base-10
    img(src="/images/user.png", alt="")
  .ed-item.web-90
    strong {{user}}
    p  {{pots}}
  .ed-item.coment
    ul(ng-hide='comentarios.length == 0').ed-menu.base-columna
        li(ng-repeat="comentario in comentarios") #[strong {{comentario.user}}] {{comentario.comentario}}
  .ed-item.cm_inpt.no-padding.base-85
    input.inpt_cm.base-100(type="text" placeholder="Añadir un comentario" ng-model="nuevoComentario.comentario")
  .ed-item.btn_cm.no-padding.base-15.abcenter
    button.button.btn_cinco.lnr.lnr-upload.base-100(ng-click="agregarComentario()")
