main
  .ed-container
    .ed-item.no-padding.web-20
      .ed-container
        .ed-item.abcenter.avatar.animated.fadeInUp
          include ../avatar
        .ed-item.categ.animated.fadeInUp
          include ../links
    .ed-item.ntas.no-padding.web-65
      .ed-container
        .ed-item.animated.fadeIn.abcenter.titunta
          h4 Notas
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-bug  Naturales
          p.alto Alto 4.5 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-earth  Sociales
          p.medio Basico 3.5 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-ios-book-outline  Español
          p.medio Basico 3.4 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-calculator  Matematicas
          p.bajo Bajo 2.1 #[span.ion-android-sad]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-earth  Sociales
          p.alto Alto 4 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-ios-football  Edcu. Fisica
          p.medio Basico 3.25 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-erlenmeyer-flask  Quimica
          p.bajo Bajo 1.0 #[span.ion-android-sad]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-android-settings  Fisica
          p.medio Basico 3.25 #[span.ion-android-sad]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-cash  Economia
          p.alto Superior 4.8 #[span.ion-android-happy]
        .ed-item.animated.fadeInRight.curso.web-45
          h3.ion-ios-people  Religion
          p.alto Alto 3.8 #[span.ion-android-happy]
        .ed-item.animated.fadeInLeft.curso.web-45
          h3.ion-android-contacts  Etica
          p.bajo Bajo 2.1 #[span.ion-android-sad]
        .ed-item.animated.fadeInLeft.curso.web-45
          h3.ion-android-color-palette  Artisitica
          p.alto Alto 3.6 #[span.ion-android-happy]
