main
  .ed-container
    .ed-item.no-padding.web-20
      .ed-container
        .ed-item.abcenter.avatar.animated.fadeInUp
          include ../avatar
        .ed-item.categ.animated.fadeInUp
          include ../links
    .ed-item.ntas.no-padding.web-65
      .ed-container
        .ed-item.animated.fadeIn.abcenter.titunta
          h4 Notas
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Naturales
          p Alto 4.5
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Sociales
          p Alto 4.5
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Español
          p Superior 5
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Matematicas
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Sociales
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Edcu. Fisica
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Quimica
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Fisica
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Economia
          p Basico 3.25
        .ed-item.animated.fadeInRight.curso.web-45
          h3 Religion
          p Basico 3.25
        .ed-item.animated.fadeInLeft.curso.web-45
          h3 Etica
          p Basico 3.25
        .ed-item.animated.fadeInLeft.curso.web-45
          h3 Artisitica
          p Basico 3.25
