.ed-container
  .ed-item.abcenter.notasav.avatar-2.animated.fadeInUp
      include ../avatar
      span Grado 10º 1
  .ed-item.animated.fadeInLeft.curso
    h3 Naturales
    p Bajo 1.5
  .ed-item.animated.fadeInLeft.curso
    h3 Sociales
    p Alto 4.5
  .ed-item.animated.fadeInLeft.curso
    h3 Español
    p Superior 5
  .ed-item.animated.fadeInLeft.curso
    h3 Matematicas
    p Basico 3.25
