main#home(ng-view)
  .ed-container
    .ed-item.no-padding.web-20
      .ed-container
        .ed-item.display.abcenter.avatar.animated.fadeIn
          include ../perfil/avatar
        .ed-item.display.categ.animated.fadeInUp
          include ../perfil/links
    .ed-item.publicacion.no-padding.web-75
      .ed-container
        .ed-item.display.abcenter.no-padding.animated.fadeInUp
          //include ../perfil/periodos
          include ../perfil/horario
        .ed-item.pots.animated.fadeInUp
          h2.titu.abcenter Tareas a realizar  #[span.ion-compose]
          include ./pots/publication
          include ./pots/publication
          include ./pots/publication
          include ./pots/publication
          include ./pots/publication
