main
  .ed-container
    .ed-item.abcenter.avth.avatar.animated.fadeInUp.web-20
      include ../perfil/avatar
    .ed-item.web-80
    .ed-item.web-80.publication
      include ./agregar-actividad/publication
    .ed-item.web-80.publication
      include ./agregar-actividad/publication
    .ed-item.web-80.publication
      include ./agregar-actividad/publication
    .ed-item.web-80.publication
      include ./agregar-actividad/publication
    .ed-item.web-80.publication
      include ./agregar-actividad/publication
