main#home
  .ed-container
    //.ed-item.abcenter.avth.avatar.animated.fadeInUp.web-20
      include ../perfil/avatar
    .ed-item.publication.animated.fadeInUp
      include ./agregar-actividad/publication
    .ed-item.publication.animated.fadeInUp
      include ./agregar-actividad/publication
