main#home
  .ed-container
    //.ed-item.abcenter.avth.avatar.animated.fadeInUp.web-20
      include ../perfil/avatar
    .ed-item.publication
      include ./agregar-actividad/publication
    .ed-item.publication
      include ./agregar-actividad/publication
