extends ../../layout
block titulo
  title Jair Perez
block contenido
  .ed-container
    .ed-item.animated.fadeIn.avatar-1.abcenter
      img.base-35(src="/img/avatar.png", alt="")
      h3 Nombre de Alumno
      span Grado 10ยบ 1
      span.column Alumno
    .ed-item.no-padding.periodo
      .ed-container.abcenter.animated.fadeIn
        .ed-item
          h3 Periodos
        .ed-item.base-25.uno
          a(href="/perfil/actividad/periodo") Primero
        .ed-item.base-25.dos
          a(href="/perfil/actividad/periodo") Segundo
        .ed-item.base-25.tres
          a(href="/perfil/actividad/periodo") Tercero
        .ed-item.base-25.cuatro
          a(href="/perfil/actividad/periodo") Cuarto
    .ed-item
      img(src="/img/4.png", alt="")
      img(src="/img/avatar.png", alt="")
      img(src="/img/4.png", alt="")
