extends ../../layout
block titulo
  title
block contenido
  .ed-container
    .ed-item.abcenter.avatar.animated.fadeInUp.web-20
      img.base-35(src="/img/4.png", alt="").base-25.web-80
      //h3 Hola, #{dto.name + ' ' + dto.lastname}
      h3 Hola, {{nombre}}
      span Alumno
    .ed-item.web-80
      .ed-container
        .ed-item.no-padding.periodo
          .ed-container.abcenter.animated.fadeIn
            .ed-item
              h3 Periodos
            .ed-item.base-25.uno
              a(href="/perfil/actividad/periodo") Primero
            .ed-item.base-25.dos
              a(href="/perfil/actividad/periodo") Segundo
            .ed-item.base-25.tres
              a(href="/perfil/actividad/periodo") Tercero
            .ed-item.base-25.cuatro
              a(href="/perfil/actividad/periodo") Cuarto
      .ed-container.no-padding
        .ed-item
          table#horario.base-100(border='1')
            tr
              th
              td 1
              td 2
              td 3
              td 4
              td 5
              td 6
              td 7
              td 8
            tr
            tr
              th Lu
              td ART
              td C.SOC
              td MAT
              td BIO
              td ING-EYH
              td ING-EYH
              td ING-EYH
              td ING-EYH
            tr
            tr
              th Ma
              td ART
              td C.SOC
              td MAT
              td BIO
              td ING-EYH
              td ING-EYH
              td ING-EYH
              td ING-EYH
            tr
            tr
              th Mi
              td ART
              td C.SOC
              td MAT
              td BIO
              td ING-EYH
              td ING-EYH
              td ING-EYH
              td ING-EYH
            tr
            tr
              th Ju
              td ART
              td C.SOC
              td MAT
              td BIO
              td SOC
              td ING-EYH
              td ING-EYH
              td ING-EYH
            tr
            tr
              th Vi
              td ART
              td C.SOC
              td MAT
              td BIO
              td ING-EYH
              td ING-EYH
              td ING-EYH
              td ING-EYH
            tr
    .ed-item.categ.animated.fadeInUp.web-20
      a(href="")
        h4 Informacion
      a(href="/perfil/notas")
        h4 Mis notas
      a(href="")
        h4 Horario
      a(href="perfil/actividad")
        h4 Actividad
    .ed-item.web-80

    .ed-item.contact.web-20
      .ed-container
        .ed-item.avatar-2.no-padding.animated.fadeInUp
          h4 Profesores
          img.base-20(src="/img/avatar.png", alt="")
          img.base-20(src="/img/avatar.png", alt="")
          img.base-20(src="/img/avatar.png", alt="")
          img.base-20(src="/img/avatar.png", alt="")
        .ed-item.avatar-2.no-padding.animated.fadeInUp
          h4 Compañeros de clase
          img.base-20(src="/img/me.jpg", alt="")
          img.base-20(src="/img/avatar.png", alt="")
          img.base-20(src="/img/4.png", alt="")
          img.base-20(src="/img/avatar.png", alt="")
    .ed-item.web-80
