extends ../../layout
block titulo
  title
block contenido
  .ed-container
    .ed-item.abcenter.avatar.animated.fadeInUp
      img.base-35(src="/img/4.png", alt="").base-25
      //h3 Hola, #{dto.name + ' ' + dto.lastname}
      h3 Hola, {{nombre}}
      span Alumno
  .ed-container
    .ed-item.categ.animated.fadeInUp
      a(href="")
        h4 Informacion
      a(href="/perfil/notas")
        h4 Mis notas
      a(href="")
        h4 Horario
      a(href="perfil/actividad")
        h4 Actividad
  .ed-container
    .ed-item.contact
      .ed-item.avatar-2.no-padding.animated.fadeInUp
        h4 Profesores
        img.base-20(src="/img/avatar.png", alt="")
        img.base-20(src="/img/avatar.png", alt="")
        img.base-20(src="/img/avatar.png", alt="")
        img.base-20(src="/img/avatar.png", alt="")
      .ed-item.avatar-2.no-padding.animated.fadeInUp
        h4 Compañeros de clase
        img.base-20(src="/img/me.jpg", alt="")
        img.base-20(src="/img/avatar.png", alt="")
        img.base-20(src="/img/4.png", alt="")
        img.base-20(src="/img/avatar.png", alt="")
