extends ../../layout
block titulo
  title ProSchool - Notas
block contenido
  .ed-container
    .ed-item.animated.fadeIn.avatar-1.abcenter
      img.base-35(src="/img/avatar.png", alt="")
      h3 Nombre de Alumno
      span Grado 10º 1
      span.column Alumno
    .ed-item.animated.fadeInLeft.curso
      h3 Naturales
      p Bajo 1.5
    .ed-item.animated.fadeInLeft.curso
      h3 Sociales
      p Alto 4.5
    .ed-item.animated.fadeInLeft.curso
      h3 Español
      p Superior 5
    .ed-item.animated.fadeInLeft.curso
      h3 Matematicas
      p Basico 3.25
