extends ../layout
block contenido
  h2.pacifico.big.blue Menu
  p Productos de calidad en tu mesa
  each dato in datos
    .ed-container
      .ed-item
        h3.pacifico= dato.name
        h3.pacifico= dato.lastname
        h3.pacifico= dato.user
        h3.pacifico= dato.email
