doctype html
html(lang="es" ng-app="MyFirstApp")
  head
    block titulo
      title
    meta(charset="utf-8")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico"  type='text/css')
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400"  type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet" href="/css/animate.css" type='text/css')
    link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  body(ng-controller="FirstController")
    header.animated.fadeIn
      .ed-container
        .ed-item.logo.main-center.cros-center
          //img(src="/img/logo.png").logo
          h1.abcenter ProSchool
        .ed-item.animated.fadeIn.cross-center.main-end
          | Versión 0.3
          |Beta
    block contenido
    footer.abcenter.animated.fadeInUp
      .ed-container
        .ed-item.creditos
          p #[a(href="/Perfil") ProSchool] &copy 2016 | Design by #[a(href="http://jairperez.net16.net") Jair Pérez]
          //a(href="readme.html") Readme
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/scripts.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
    script(src="/js/controller.js")

