head
  title=title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico"  type='text/css')
  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400"  type='text/css')
  link(rel="stylesheet", href="/stylesheets/styles.css")
  link(rel="stylesheet" href="/stylesheets/animate.css" type='text/css')
  link(rel="stylesheet", href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css")
  link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
  script(src="//code.jquery.com/jquery-1.12.0.min.js")
  script(src="/javascripts/scripts.js")
  script(src="/javascripts/controller.js")
