doctype html
html(lang="es" ng-app="MyFirstApp")
  include head
  body(ng-controller="FirstController")
    include ./header/2
    include navbar
    block contenido
    //include footer
    include scripts
