doctype html
html(lang="es" ng-app='Proschool')
  include head
  body(ng-controller='PSController')
    include ./header/2
    //include navbar
    block contenido
    //include footer
    include scripts
