section#homeft
  .ed-container.abcenter
    .ed-item.base-25.homeft
      a(href="#").lnr.lnr-home
      p Inicio
    .ed-item.base-25.buscarft
      a(href="#").lnr.lnr-magnifier
      p Buscar
    .ed-item.base-25.mensajeft
      a(href="#").lnr.lnr-inbox
      p Mensaje
    .ed-item.base-25.perfilft
      a(href="#").lnr.lnr-user
      p Perfil
