section#homeft
  .ed-container.abcenter
    .ed-item.base-25.homeft
      a(href="/home").lnr.lnr-home
    .ed-item.base-25.buscarft
      a(href="/buscar").lnr.lnr-magnifier
    .ed-item.base-25.mensajeft
      a(href="#").lnr.lnr-inbox
    .ed-item.base-25.perfilft
      a(href="/users").lnr.lnr-user
