script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
script(src="//code.jquery.com/jquery-1.12.0.min.js")
script(src="/javascripts/scripts.js")
script(src="/javascripts/controller.js")
