header#headerlg.animated.fadeIn
  .ed-container
    .ed-item.logolg.abcenter
      a(href="/home") ProSchool
    .ed-item.animated.fadeInRight.main-end.cross-center
      a(href="/admin/map-site")
        | Versión 0.3
        |Beta
