header#header
  .ed-container
    .ed-item.web-20.logo
      //img(src="/img/logo.png").logo
      a(href="/home") ProSchool
    .ed-item.web-60.buscar
      .ed-container
        .ed-item.web-90.sch_inpt
          input.inpt_sch.base-100(type="text" placeholder='Buscar')
        .ed-item.web-10.sch_btn
          button.base-100.button.btn_tres(type='submit').lnr.lnr-magnifier
    .ed-item.web-20.menu
      ul.ed-menu.web-horizontal.abcenter
        li: a.hro(href="/horario").lnr.lnr-calendar-full
        li: a(href="#").lnr.lnr-inbox
        li: a(href="/users").lnr.lnr-user
