header#header.animated.fadeIn
  .ed-container
    .ed-item.web-20.logo
      //img(src="/img/logo.png").logo
      a(href="/") ProSchool
    .ed-item.web-60.buscar
      .ed-container
        .ed-item.web-90.sch_inpt.animated.fadeIn
          input.inpt_sch.base-100(type="text" placeholder='Buscar')
        .ed-item.web-10.sch_btn.animated.fadeIn
          button.base-100.button.btn_tres(type='submit').lnr.lnr-magnifier
    .ed-item.web-20.cross-center.main-center.menu
      ul.ed-menu.web-horizontal
        li: a.hro(href="/horario").lnr.lnr-calendar-full
        li: a(href="#").lnr.lnr-inbox
        li: a(href="/perfil").lnr.lnr-user
