#header{
  padding: .7em ;
  .logo{
    a{
      color: $azul;
      font-family:'pacifico', cursive;
      padding: 0;
      margin: 0;
      font-weight: 200;
      font-size: 2.5em;
      text-decoration: none;
      @include desde (web){
        font-size: 2em;
        line-height: 1.1;
      }
    }
   @include hasta(web){
      text-align: center;
    }
  }
  border-bottom: 1px solid rgba(0,0,0,0.15);
  //box-shadow: 1px 1px 1px #888888;
  margin-bottom: .5em;
  @include hasta(movil){
    padding: 1em 0
  }
  @include desde (web){
  }
}
#headerlg{
  padding: 1.5em;
  .logolg{
    a{
      color: $azul;
      font-family:'pacifico', cursive;
      text-decoration: none;
      font-size: 3em;
    }
  }
}
.ed-menu a{
  line-height: 1.9;
  color: $gris-oscuro;
  text-decoration: none;
  font-weight: 400;
  &:hover{
    color: $verde;
    transition: all .2s
  }
}
.buscar ,  .menu{
  @include hasta(web){
    display: none
  }
}
.menu{
  & a{
    font-size: 1.3em;
    font-weight: 500
  }
}
