#homeft{
  color: $blanco;
  & a {
    color: $gris-oscuro;
    font-weight: 500;
    font-size: 2em;
    text-decoration: none;
    padding: .5em;
    &:hover{
      color: $azul-claro;
    }
  }
  border-top: 1px solid rgba(0,0,0,0.15);
  padding:0;
  margin: 1em 0;
  @include desde(web){
    display: none
  }
}
.homeft , .buscarft, .agregarft , .perfilft{
  padding: 1em;
  &:hover{
    color:$azul-claro
  }
}
