.publication{
  padding: 1em .7em;
  & a {
    text-decoration: none;
    & strong{
      color: $azul
    }
  }
  & img{
    border-radius: 50%;
  }
  @include hasta(movil){
    border-bottom: 1px solid $gris;
  }
  @include hasta (tablet){
    font-weight: 300;
    .cm_inpt , .btn_cm{
      display: none
    }
  }
  @include desde (web){
    font-weight: 300;
    border-bottom: 1px solid $gris;
    .cm_inpt , .btn_cm{
      display: none
    }
  }

}
.status{
  margin: 1em .5em;
  .cm_inpt , .btn_cm{
    //border-top: 1px solid $gris;
    .inpt_cm{
      padding-left: .6em;
    }
    .inpt_cm,.btn_cinco{
      outline: none;
      @include desde (web){
        font-size: 1.3em;
      }
    }
  }

  & strong{
      color: $azul
    }
  & img{
    border-radius: 50%;
  }
  .usern{
    color: $gris-oscuro
  }
  .tarea{
    margin: .6em 0
  }
  .coment{
    border-top: 1px solid $gris;
    border-bottom: 1px solid $gris;
    margin-top: 1em;
    & strong{
      color: $azul-claro
    }
  }
}

.avth{
  @include hasta(movil){
    display: none
  }
}

#homeft{
  color: $blanco;
  & a {
    color: $gris-oscuro;
    font-weight: 500;
    font-size: 2em;
    text-decoration: none;
    padding: .5em;
    &:hover{
      color: $azul-claro;
    }
  }
  border-top: 1px solid rgba(0,0,0,0.15);
  padding:0;
  @include desde(web){
    display: none
  }
}
.homeft , .buscarft, .mensajeft , .perfilft{
  padding: 1em;
  font-size: .8em;
  &:hover{
    color:$azul-claro;
    transition: all .60s
  }
}
#homeft{
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
.display{
  @include hasta(movil){
    display: none
  }
}
