//INDEX
#main{
  padding: 1.5em 0
}

//PERFIL

//ADMIN
.table-movil{
  @include hasta (movil){
    & th, & td {
    padding: 5px;
      a{
        color: $azul-claro
      }
    }
    & th{
      background: $azul;
      color: $blanco;
      font-weight: 300;
    }
  }
  @include desde (tablet){
    display: none
  }
}
.table{
  & a{
        color: $azul-claro
      }
  @include hasta (movil){
    display: none
  }
}
.map-site{
  border:1px solid $gris;
  font-size: 1.5em;
  td,th{
    padding: 1em
  }
  th{
    background: $azul;
    color: $blanco;
    font-weight: 400
  }
  td{
    color: $verde;
    & a{
      color: $azul-claro
    }
  }
}
#buscar{
  margin-top: .8em
}
