.regest{
  & h1{
    color: $verde;
    font-weight: 400;
    //margin-bottom: 24px;
    font-size: 30px
  }
  .button{
    &.btn_rg{
      @include button($verde,$blanco,radius);
      border: none;
    }
  }
}
//INDEX
.user{
  color: $azul-oscuro;
  & h2{
    color: $verde
  }
  & h4{
    color: $azul-claro
  }
}
//REGISTRO
.input{
  border: 1px solid $gris ;
  border-radius: 3px;
  &:focus{
    color: $azul;
    border: 1px solid $azul-claro;
  }
}
.inpt_rg{
  @include hasta (movil){
    padding: 7px;
    font-size: 18px
  }
  @include desde (tablet){
    max-width: 50%;
    font-size: 18px;
    padding: 10px;
  }
  @include desde (web){
    max-width: 40%
  }
}
.inpt_lg{
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px
}
.inpt{
  @include desde(tablet){
    padding: 0
  }
}
.inpt , .inpt_d{
    margin: 5px 0
  }
.btn{
  @include desde (tablet){
    padding: 0;
  }
}
