.regest{
  & h1{
    color: $verde;
  }
  .button{
    &.btn_rg{
      @include button($verde,$blanco,radius);
      border: none;
    }
  }
}
//INDEX
.user{
  color: $azul-oscuro;
  & h2{
    color: $verde
  }
  & h4{
    color: $azul-claro
  }
}
