.regest{
  & h1{
    color: $verde;
    font-weight: 400;
    @icnlude desde (tablet){
      font-size: 2.5em
    }
  }

  .button{
    &.btn_rg{
      @include button($verde,$blanco,radius);
      border: none;
      @include desde (tablet){
        font-size: 1.1em;
      }
    }
  }
}
//INDEX
.user{
  color: $azul-oscuro;
  & h2{
    color: $verde
  }
  & h4{
    color: $azul-claro
  }
}
//REGISTRO
.input{
  border: 1px solid $gris ;
  border-radius: 3px;
  &:focus{
    border: 1px solid $azul-claro;
  }
}

.inpt_rg , .btn_rg{
  margin: .2em 0;
  width: 100%;
  @include hasta (tablet){
    padding: 7px;
    font-size: 18px
  }
  @include desde (tablet){
    //max-width: 50%;
    font-size: 18px;
    padding: 10px;
  }
}

.inpt_lg{
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px
}

.rg_lg{
  margin: 1.5em;
  & a{
    color: $verde
  }
}
