
script(src="/javascripts/main.js")
//script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js")
//script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js")
//script(src="http://code.jquery.com/jquery-latest.min.js")
