.ed-container
  .ed-item.avatar-2.no-padding.animated.fadeInUp
    h4 Profesores
    img.base-20(src="/img/avatar.png", alt="")
    img.base-20(src="/img/avatar.png", alt="")
    img.base-20(src="/img/avatar.png", alt="")
    img.base-20(src="/img/avatar.png", alt="")
  .ed-item.avatar-2.no-padding.animated.fadeInUp
    h4 Compañeros de clase
    img.base-20(src="/img/me.jpg", alt="")
    img.base-20(src="/img/avatar.png", alt="")
    img.base-20(src="/img/4.png", alt="")
    img.base-20(src="/img/avatar.png", alt="")
