main
  .ed-container
    .ed-item.no-padding.web-20
      .ed-container
        .ed-item.abcenter.avatar.animated.fadeInUp
          include avatar
        .ed-item.categ.animated.fadeInUp
          include links
        .ed-item.contact.abcenter.no-padding.animated.fadeInUp
          include contactos
    .ed-item.publicacion.no-padding.web-75
      .ed-container
        .ed-item.periodo.abcenter.no-padding.animated.fadeInUp
          include periodos
          //include horario
        .ed-item.animated.fadeInUp
          h2.abcenter Tareas Realizadas
          include ../home/agregar-actividad/publication
          include ../home/agregar-actividad/publication
          include ../home/agregar-actividad/publication

