.ed-container.no-padding
  .ed-item
    table(border="1")#horario.base-100.abcenter
      tr
        th.base-5.bn
        td.base-10.namber 1
        td.base-10.namber 2
        td.base-10.namber 3
        td.base-10.namber 4
        td.base-10.namber 5
        td.base-10.namber 6
        td.base-10.namber 7
        td.base-10.namber 8
      tr
      tr
        th Lu
        td MAT
        td MAT
        td
        td
        td
        td
        td
        td
      tr
      tr
        th Ma
        td FIS
        td
        td
        td
        td
        td
        td
        td
      tr
      tr
        th Mi
        td
        td
        td
        td
        td
        td
        td
        td
      tr
      tr
        th Ju
        td
        td
        td
        td
        td
        td
        td
        td
      tr
      tr
        th Vi
        td
        td
        td
        td
        td
        td
        td
        td
      tr
