h4.tituinf.abcenter Informacion
a(href="/notas")
  h4.ion-ios-compose-outline  Mis notas
a(href="/horario")
  h4.ion-ios-calendar-outline  Horario
a(href="/users/actividad")
  h4.ion-ios-bookmarks-outline  Actividad
