main
  .ed-container
    .ed-item.abcenter.avatar.animated.fadeInUp.web-20
      include avatar
    .ed-item.web-80
      include periodos
      include horario
    .ed-item.categ.animated.fadeInUp.web-20
      include links
    .ed-item.web-80

    .ed-item.contact.web-20
      include contactos
    .ed-item.web-80
