.ed-container
  .ed-item.no-padding.periodo
    .ed-container.abcenter.animated.fadeIn
      .ed-item
        h3 Periodos
      .ed-item.base-25.uno
        a(href="/perfil/actividad/periodo") Primero
      .ed-item.base-25.dos
        a(href="/perfil/actividad/periodo") Segundo
      .ed-item.base-25.tres
        a(href="/perfil/actividad/periodo") Tercero
      .ed-item.base-25.cuatro
        a(href="/perfil/actividad/periodo") Cuarto
