.ed-container
  .ed-item
    h3 Periodos #[strong.ion-ios-clock-outline]
  .ed-item.base-25.uno
    a(href="/notas") Primero #[stgrong.ion-happy-outline]
  .ed-item.base-25.dos
    a(href="/notas") Segundo #[stgrong.ion-sad-outline]
  .ed-item.base-25.tres
    a(href="/notas") Tercero #[stgrong.ion-sad-outline]
  .ed-item.base-25.cuatro
    a(href="/notas") Cuarto #[stgrong.ion-sad-outline]
