.ed-container
  .ed-item
    h3 Periodos
  .ed-item.base-25.uno
    a(href="/notas") Primero
  .ed-item.base-25.dos
    a(href="/notas") Segundo
  .ed-item.base-25.tres
    a(href="/notas") Tercero
  .ed-item.base-25.cuatro
    a(href="/notas") Cuarto
